body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    width: 90vmin;
    height: 90vmin;
}

.controls {
    width: 90vmin;
    height: 10vmin;
    display: flex;
    align-items: center;
}

.play-button {
    width: 13%;
    margin-right: 2%;
}

.time-slider {
    width: 75%;
    cursor: pointer;
}

.time-input {
    width: 8%;
    margin-left: 2%;
    text-align: right;
}