body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    width: 90vmin;
    height: 90vmin;
}

.controls {
    width: 90vmin;
    height: 10vmin;
    display: flex;
    align-items: center;
}

.play-button {
    width: 60px;
    margin-right: 10px;
}

.time-slider {
    flex-grow: 1;
    cursor: pointer;
}

.time-input {
    width: 40px;
    margin-left: 10px;
    text-align: right;
}