body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    width: 90vmin;
    height: 90vmin;
}

.controls {
    width: 90vmin;
    height: 10vmin;
}

.time-slider {
    cursor: pointer;
}